[submodule "src/gargamel"]
	path = src/gargamel
	url = https://github.com/SirEelBiscuits/gargamel.git
[submodule "src/testing/testsuite"]
	path = src/testing/testsuite
	url = https://github.com/SirEelBiscuits/testsuite.git
